# Remove the first line for unix systems, as PWD is automatically defined and refers to the actual direcotry. PWD is more robust than just "."
# Unless the docker compose command is run with sudo
# bisite@staging-area:~/deployment/mongo$ sudo env | grep -i pwd
# bisite@staging-area:~/deployment/mongo$ env | grep -i pwd
# PWD=/home/bisite/deployment/mongo
# OLDPWD=/home/bisite/deployment
PWD=.
POSTGRES_DB=my-db
POSTGRES_USER=admin
POSTGRES_PASSWORD=my-admin-password
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=my-pgadmin-password